<a href="https://colab.research.google.com/github/eoooomji/home_python/blob/master/python_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
print("Hello World")
print('Hello World')
print('Hello'); print('World')

Hello World
Hello World
Hello
World

In [ ]:
a=10; b=20
if(a==10 ) and \
 (b==20):
    print("OK")

OK

In [ ]:
pen=ko=100
print(pen)
print(ko)

100
100

In [ ]:
language='korea'
body='tag'
print(language)
print(body)

korea
tag

In [ ]:
a=1
a=eval('a+4')
print(a)

5

In [ ]:
print(type(5))
print(type(20.3))
print(type([1,5,8]))
print(type((2,6,7)))

<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>

In [ ]:
data=1+2j
print(data.real)
print(data.imag)

1.0
2.0

In [ ]:
import sys
sys.maxsize

9223372036854775807

In [ ]:
9223372036854775807 + 1
# 최대값의 정수에 1을 더해주게 되면 최대치를 넘게된다. 하지만 파이썬은 내부적으로 자동 확장을해주므로 오버플로우에러가 없다.
# 단, 실행속도가 느려질 수 있다.

9223372036854775808

### String

In [ ]:
# sequence
# 문자열 슬라이싱
s_val='Hello python!'
print(s_val)
s_val[0:3:1]
s_val[1]
s_val[1:]
s_val[:3]
s_val[:]
s_val[-1]
s_val[-5]
s_val[::2] # 2단계씩 스텝을 넘어간다는 뜻으로 해석
s_val[::-2]
s_val[::-1]

Hello python!

'!nohtyp olleH'

In [ ]:
s_val='hello' + ' ' + 'python'
s_val

'hello python'

In [ ]:
s_val='win' * 3
s_val

'winwinwin'

In [ ]:
s_val='hello python!'
s_val1='H' + s_val[1:]
s_val1
len(s_val1)

13

In [ ]:
# 'python'가 문자열 s_val1안에 있는가?
print('python' in s_val1)
# 'python'가 문자열 s_val1안에 없는가?
print('python' not in s_val1)

True
False

In [ ]:
# 여러 줄 문자열은 작은 따옴표나 큰 따옴표를 세번 연속해서 입력한다.
s_val="""돈이 다 무슨소용인가? 사람이
아침에 일어나고 밤에
잠자리에 들며 그 사이에
하고싶은 일을 한다면 그 사람은 성
공한 것이다."""
print(s_val)

돈이 다 무슨소용인가? 사람이
아침에 일어나고 밤에
잠자리에 들며 그 사이에
하고싶은 일을 한다면 그 사람은 성
공한 것이다.

In [ ]:
# 사용자로부터 데이터를 받아올 수 있다.
input('3+2?')

3+2?5

'5'

In [ ]:
a=input('첫번째 정수 입력 : ')

첫번째 정수 입력 : 10

In [ ]:
print(type(a))
print(int(a))

<class 'str'>
10

In [ ]:
b=input('두번째 정수 입력 : ')

두번째 정수 입력 : 6

In [ ]:
print(type(b))
print(int(b))

<class 'str'>
6

In [ ]:
c=int(a)+int(b)
print(c)

16

In [ ]:
s_val='python'
s_val1=83.5
print('%s의 점수는 %.2f입니다.' %(s_val, s_val1))

python의 점수는 83.50입니다.

In [ ]:
print('Hello,{0} {2} {1}'.format('Python', 'Script', 3.6)) #'(인덱스)'.format(값)
print('Hello,{} {}'.format('Python', 3.6)) # 인덱스를 생략하면 format에 지정한 순서대로 값을 리턴
print('Hello, {language} {version}'.format(language='Python', version=3.6)) # 인덱스 대신 이름으로 정하기

Hello,Python 3.6 Script
Hello,Python 3.6
Hello, Python 3.6

In [ ]:
hp1='010'
hp2='2313'
hp3='5548'
print(hp1, hp2, hp3, sep='-')

010-2313-5548

In [ ]:
print('korea'.lower())
print('korea'.upper())
print('korea'.swapcase())
print('KOREA'.swapcase())
print('we are the world'.title())
print('we are the world'.capitalize())

korea
KOREA
KOREA
korea
We Are The World
We are the world

In [ ]:
print('KORea'.islower())
print('korea'.islower())
print('KORea'.isupper())
print('KOREA'.isupper())

False
True
False
True

In [ ]:
print('we are the world'.find('are'))
print('we are the world'.find('WORLD'))
print('we are the world'.index('the'))
print('we are the world'.index('WORLD'))

3
-1
7

ValueError: ignored

In [ ]:
print('we are the world'.join('**'))
print('we are the world'.split())

*we are the world*
['we', 'are', 'the', 'world']

In [ ]:
# isalnum : 문자열이 영어, 한글, 숫자면 True
# isdigit, isdecimal, isnumeric : 문자열이 숫자로 되어있으면 True
print('we are'.isalnum())
print('weare'.isalnum())
print('we123'.isalnum())
print('we123'.isdecimal())
print('123'.isdecimal())
print('123.4'.isdecimal())
print('123.4'.isdecimal())
print('123.4'.isdigit())

False
True
True
False
True
False
False
False

### list

In [ ]:
# 리스트
l_val=[10,20,30]
print(l_val)
print(type(l_val))

[10, 20, 30]
<class 'list'>

In [ ]:
l_val=[5,10,15,20,20,20,25]
print(l_val[0])
print(l_val[-2])
print(l_val[0:2]) # 슬라이싱
print(l_val[::2]) # 확장 슬라이싱 (파이썬 2,3 이상)
print(l_val+l_val+l_val)
print(l_val+[30,35])
print(l_val*3)

5
20
[5, 10]
[5, 15, 20, 25]
[5, 10, 15, 20, 20, 20, 25, 5, 10, 15, 20, 20, 20, 25, 5, 10, 15, 20, 20, 20, 25]
[5, 10, 15, 20, 20, 20, 25, 30, 35]
[5, 10, 15, 20, 20, 20, 25, 5, 10, 15, 20, 20, 20, 25, 5, 10, 15, 20, 20, 20, 25]

In [ ]:
l_val=['apple','banana',100,200]
l_val[2]=300
print(l_val)

['apple', 'banana', 300, 200]

In [ ]:
l_val=['apple','banana',100,200]
l_val[0:2]=[1,2] # 지정한 인덱스[0:2] 범위의 요소를 [1,2]로 변경한다.
print(l_val)
l_val[0:2]=[100] # 크기가 달라도 된다.
print(l_val)

[1, 2, 100, 200]
[100, 100, 200]

In [ ]:
l_val=['apple','banana',100,200]
l_val[0:2]=[] # 요소 2개를 삭제한다.
print(l_val)

[100, 200]

In [ ]:
# 리스트에서 요소를 삭제한다.
l_val=[2,4,6,8]
del l_val[0]
print(l_val)
# 리스트에 요소를 추가한다.
l_val=[1,2,3]
l_val[1]=['red', 'green']
print(l_val)

[4, 6, 8]
[1, ['red', 'green'], 3]

In [ ]:
# 확장 슬라이싱을 사용할 때는 왼쪽과 오른쪽 요소 개수가 같아야 한다.
l_val=[2,4,6,8]
print(l_val[::2])
l_val[::2]=[-1,-2]
print(l_val)
l_val[::2]=[-1,-2,-4,-6]
print(l_val)

[2, 6]
[-1, 4, -2, 8]

ValueError: ignored

In [ ]:
# 중첩 배열
l_val=[10,20,30]
l_val=['start', l_val, 'end']
print(l_val)

['start', [10, 20, 30], 'end']

In [ ]:
# 언패킹 : 한 변수에서 데이터를 각각 꺼내오는 것
a=['foo','bar',4,6]
x,y,z,w=a
print(x,y,z,w)

foo bar 4 6

In [ ]:
# list 메소드
# append(x) : x를 리스트의 마지막 요소로 추가
# extend(list) : list의 요소로 원 리스트를 확장한다.
# insert(i, x) : x를 i번째 위치로 끼워 넣는다.
# remove(x) : x와 같은 첫 번째 요소를 삭제한다.
# pop(), pop(i) : 마지막 요소를 삭제하고 반환한다, i번째 요소를 삭제하고 반환한다.
# clear() : 모든 요소를 삭제한다.
# index(x) : x와 같은 값의 인덱스를 리턴한다.
# count(x) : x와 같은 값의 갯수를 리턴한다.
# sort() : 작은 값부터 정렬한다.
# revers() : 리스트를 반대로 정렬한다.
# copy() : 얕은 복사를 한다.
list1=[10,20]
list1.append(30)
print(list1)
list1.insert(1, 40)
print(list1)
list1.remove(40)
print(list1)
list1.pop() # 30
print(list1)
list1.pop(0) # 10
print(list1)
list1.clear()
print(list1)

[10, 20, 30]
[10, 40, 20, 30]
[10, 20, 30]
[10, 20]
[20]
[]

In [ ]:
list2=[5,10,15,20,25,20,10]
print(list2.index(20))
print(list2.count(10))
list2.sort() # 정렬
print(list2)
list2.reverse() # 역정렬
print(list2)
list2.copy()

3
2
[5, 10, 10, 15, 20, 20, 25]
[25, 20, 20, 15, 10, 10, 5]

[25, 20, 20, 15, 10, 10, 5]

In [ ]:
l_val=['red','orange','blue','green','white','blac']
print(l_val.append("orange"))
print(l_val)
print(l_val.extend(['yellow','aqua']))
print(l_val)
l_val.extend('purple')
print(l_val)
l_val.insert(0,'gray')
print(l_val)
# l_val.remove('b') # ValueError: list.remove(x): x not in list
l_val.remove('p')
print(l_val)
print(l_val.pop())
print(l_val)
print(l_val.pop(0))
print(l_val)
print(l_val.index('blue'))
print(l_val.count('white'))
print(l_val.sort())
print(l_val)
print(l_val.reverse())
print(l_val)
l_val2=l_val.copy()
print(l_val)
print(l_val2)
l_val2[0]='gray'
print(l_val)
print(l_val2)
l_val2.clear()
print(l_val2)

None
['red', 'orange', 'blue', 'green', 'white', 'blac', 'orange']
None
['red', 'orange', 'blue', 'green', 'white', 'blac', 'orange', 'yellow', 'aqua']
['red', 'orange', 'blue', 'green', 'white', 'blac', 'orange', 'yellow', 'aqua', 'p', 'u', 'r', 'p', 'l', 'e']
['gray', 'red', 'orange', 'blue', 'green', 'white', 'blac', 'orange', 'yellow', 'aqua', 'p', 'u', 'r', 'p', 'l', 'e']
['gray', 'red', 'orange', 'blue', 'green', 'white', 'blac', 'orange', 'yellow', 'aqua', 'u', 'r', 'p', 'l', 'e']
e
['gray', 'red', 'orange', 'blue', 'green', 'white', 'blac', 'orange', 'yellow', 'aqua', 'u', 'r', 'p', 'l']
gray
['red', 'orange', 'blue', 'green', 'white', 'blac', 'orange', 'yellow', 'aqua', 'u', 'r', 'p', 'l']
2
1
None
['aqua', 'blac', 'blue', 'green', 'l', 'orange', 'orange', 'p', 'r', 'red', 'u', 'white', 'yellow']
None
['yellow', 'white', 'u', 'red', 'r', 'p', 'orange', 'orange', 'l', 'green', 'blue', 'blac', 'aqua']
['yellow', 'white', 'u', 'red', 'r', 'p', 'orange', 'orange', 'l', 'green', 'blue', 'blac', 'aqua']
['yellow', 'white', 'u', 'red', 'r', 'p', 'orange', 'orange', 'l', 'green', 'blue', 'blac', 'aqua']
['yellow', 'white', 'u', 'red', 'r', 'p', 'orange', 'orange', 'l', 'green', 'blue', 'blac', 'aqua']
['gray', 'white', 'u', 'red', 'r', 'p', 'orange', 'orange', 'l', 'green', 'blue', 'blac', 'aqua']
[]

In [ ]:
# a값을 b에 할당
# 하나의 값을 변경하면 둘 다 같이 변경됨(얕은 복사)
a=['red','blue']
b=a
print(a,b)
b[0]='white'
print(a,b)
print('==========')
# extend는 확장의 개념. 깊은 복사가 된다.
a=['red','green']
b=[]
print(a,b)
b.extend(a)
print(a,b)
b[0]='black'
print(a,b)
print('==========')
# 일차원에서는 깊은 카피가 발생
a=['red','green']
b=a.copy()
print(a,b)
b[0]='black'
print(a,b)
print('==========')
# 이차원 배열에서는 값이 같이 바뀐다. 이차원에서는 얕은 카피가 발생
a=[['red','green']]
b=a.copy()
print(a,b)
b[0][0]='black'
print(a,b)
print('==========')
import copy
a=[['red','green']]
b=copy.deepcopy(a) # 깊은 카피
print(a,b)
b[0][0]='black'
print(a,b)

['red', 'blue'] ['red', 'blue']
['white', 'blue'] ['white', 'blue']
==========
['red', 'green'] []
['red', 'green'] ['red', 'green']
['red', 'green'] ['black', 'green']
==========
['red', 'green'] ['red', 'green']
['red', 'green'] ['black', 'green']
==========
[['red', 'green']] [['red', 'green']]
[['black', 'green']] [['black', 'green']]
==========
[['red', 'green']] [['red', 'green']]
[['red', 'green']] [['black', 'green']]

### Tuple

In [ ]:
# 튜플(Tuple)
# 변경이 불가능한 순서(sequence)가 있는 자료형
# 튜플은 ()소괄호로 표현한다.
def test():
  return 2,3

print(test())
# 넘기는 값을 2,3 으로 2개로 작성했지만 결곽값은 ()소괄호로 묶여 하나의 값을 리턴
# 이를 튜플이라 한다.

(2, 3)

In [ ]:
# 값 사이에 콤마(,)로 구분하여 사용한다.
t_val=(10,20,30) # t_val=10,20,30 괄호 없이도 표현이 가능하다
print(t_val)
print(type(t_val))

(10, 20, 30)
<class 'tuple'>

In [ ]:
# 괄호()는 수식에서의 ()와 혼동될 가능성이 있기 떄문에 주의해야 한다.
# 데이터가 한 개 일때는 반드시 쉼표(,)가 있어야 한다. 괄호는 없어도 쉼표(,)는 있어야 한다.
t_val=(1)
print(type(t_val))
t_val=(1,)
print(type(t_val))
t_val=1,
print(type(t_val))

<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
# 튜플은 불면이기 때문에 값을 변경할 수 없다.
t_val=(1,2,3)
t_val[0]=100

TypeError: ignored

In [ ]:
t_val=(10,'python',80.2,True)
t_val

(10, 'python', 80.2, True)

In [ ]:
# 인덱스를 이용해서 튜플의 각 원소에 접근할 수 있다.
t_val=(5,10,15,20,25,30)
print(len(t_val)) # len : 데이터의 개수 리턴
print(t_val[1]) # 1인덱스 요소를 리턴
print(t_val[-1]) # 음수 사용 시 요소 마지막부터 찾음
print(t_val[0:2]) # 슬라이싱
print(t_val[::2]) # 확장 슬라이싱(파이썬 2, 3 이상)

# +, * 연산자를  사용하여 이어붙일 수도 반복할 수도 있다.
print(t_val+t_val+t_val) # 연결하기
print(t_val + (35,40)) # 연결하기
print(t_val*3) # 반복하기

# 튜플에 특정값이 있는지 검사할 수 있다.
print(5 in t_val)

6
10
30
(5, 10)
(5, 15, 25)
(5, 10, 15, 20, 25, 30, 5, 10, 15, 20, 25, 30, 5, 10, 15, 20, 25, 30)
(5, 10, 15, 20, 25, 30, 35, 40)
(5, 10, 15, 20, 25, 30, 5, 10, 15, 20, 25, 30, 5, 10, 15, 20, 25, 30)
True

In [ ]:
# 튜플은 검색에 관련된 메서드 2개를 갖는다.(count, index)
t_val=(1,2,3,2,2,3,3)
print(t_val.count(2)) # 2가 몇개 있는가?
print(t_val.index(2)) # 첫 번째 2의 인덱스는?
print(t_val.index(3,2)) # 첫번째 2의 인덱스를 3인덱스 위치부터 검색해 나간다.

3
1
2

In [ ]:
# 튜플은 중첩해서 사용할 수 있다.
t_val1=('python', 'hello!')
t_val2=(t_val1,(1,2,3)) # t_val=t_val,(1,2,3)
print(t_val2)

(('python', 'hello!'), (1, 2, 3))

In [ ]:
# 한 변수에 데이터를 각각 꺼내오는 언패킹을 지원
t_val=(10,20,30)
l,m,n=t_val # t_val의 각 요소들이 l,m,n에 저장
print(l,m,n)
print('==========')
t_val=((1,2),(3,4))
(x1,y1),(x2,y2)=t_val
print(x1,y1)
print(x2,y2)

10 20 30
==========
1 2
3 4

In [ ]:
# 확장된 언패킹을 이용한 자유로운 형태 이용
t_val=(1,2,3,4,5)
a,*b=t_val
print(a,b)
print(type(a), type(b))
# 하나의 요소만 받기 위해서는 단일 값만, 나머지 모두를 받기 위해서는 앞에 *를 붙인다.(나머지의 타입은 list로 리턴)
print('==========')
*a,b=t_val
print(a,b)
a,b,*c=t_val
print(a,b,c)
a,*b,c=t_val
print(a,b,c)
print('==========')
a,*b,*c=t_val
print(a,b,c)
# SyntaxError: two starred expressions in assignment

1 [2, 3, 4, 5]
<class 'int'> <class 'list'>
==========
[1, 2, 3, 4] 5
1 2 [3, 4, 5]
1 [2, 3, 4] 5
==========

SyntaxError: ignored

In [ ]:
# 튜플과 리스트의 공통점
# - 임의의 객체를 저장할 수 있다는 것과 순서 자료형이다.

# 튜플과 리스트의 차이점
# - 튜플은 변경 불가능한 순서 자료형이다.
# - 튜플은 함수의 가변 인수를 지원한다.

dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# 리스트와 튜플은 list()와 tuple()내장함수를 사용하여 상호변환이 가능하다.
t_val=(1,2,3,4,5)
l_val=list(t_val)
l_val[0]=100
print(l_val)

[100, 2, 3, 4, 5]

In [ ]:
t_val=tuple(l_val)
print(t_val)

('yellow', 'white', 'u', 'red', 'r', 'p', 'orange', 'orange', 'l', 'green', 'blue', 'blac', 'aqua')

In [ ]:
# 반드시 튜플을 사용하는 3가지 경우
# 첫번째는 함수에 있어서 하나 이상의 값을 반환할 때
def calc(a,b):
  return a+b, a*b # 튜플을 반환한다.
x,y=calc(5,4)
print(x,y)

# 두번째는 튜플에 있는 값들을 함수의 인수로 사용할 때
args = (4, 5)
print(calc(*args)) # calc(4, 5)

# 세번째는 python 2형식의 서식 문자열에 데이터를 공급할 때
print("%d %f %s" %(12, 3.4, 'hello'))

9 20
(9, 20)
12 3.400000 hello

In [ ]:
# *를 줌으로 써 해당의 값을 넘긴다는 뜻
def calc(*args) :
  print(args)

args = (4, 5)
calc(*args)

args = (4, 5)
calc((4, 5))

(4, 5)
((4, 5),)

### 집합(sets)

집합은 여러 값을 순서 없이 그리고 중복 없이 모아 놓은 자료형이다.  
python에서는 set과 frozenset 두 가지 집합 자료형을 제공한다.  
set은 변경 가능한 집합이고, frozenset은 변경 불가능한 집합이다.  
set은 {}중괄호나 set()으로 표현한다.
---
멤버십(원소와 집합사이의 귀속관계)검사, 시퀀스에서의 중복제거와 교집합, 합집합 ,차집합 같은 수학연산에 수행에 사용된다.  
다른 시퀀스와 마찬가지로 x in set, len(set), 컴프리헨션과 같은 기능을 제공하지마, 삽입 순서를 기록하지는 않는다.  
따라서 인덱싱이나 슬라이싱은 사용이 불가능하다.  
반복 가능한 객체로부터 집합을 만들 수 있지만 모든 데이터가 원소로 사용할 수 있는 것은 아니다.  
해시가능(Hashablre) 이면서 변경 불가능한 자료형만이 집합의 원소로 사용가능하다.

In [ ]:
s = {}
s
s = set()
s
type(s)

set

In [ ]:
s = {}
print(s)
print(type(s))

s = set()
print(s)
print(type(s))

{}
<class 'dict'>
set()
<class 'set'>

In [ ]:
# 튜플로부터 집합을 만든다. 오름차순으로 생성된다.
# 출렬결과가 중괄호로 나온다. ditctionary랑 헷갈리수가 있다.
set((3, 1, 2))

{1, 2, 3}

In [ ]:
# 리스트로부터 집합을 만든다. 오름차순으로 생성된다.
set([3, 1, 2])

{1, 2, 3}

In [ ]:
# 문자열로부터 집합을 만든다. 오름차순으로 생성된다.
set('python')

{'h', 'n', 'o', 'p', 't', 'y'}

In [ ]:
# 중복된 원소는 한번만 표현한다.
set((3,2,1,2,3,1,3,2,3,1,1,2,2,3))

{1, 2, 3}

In [ ]:
# 리스트는 변경이 가능하므로 집합을 생성할 때 Error가 발생한다.
a = [1, 2, 3]
b = [4, 5, 6]
{a, b}

TypeError: ignored

In [ ]:
# 값이 없을 때는 set 함수를 사용해야 하고, 값을 준다면 {}중괄호로 사용이 가능하다.
a = (1, 2, 3)
b = (4, 5, 6)
c = {a, b}
print(c)
print(type(c))

{(1, 2, 3), (4, 5, 6)}
<class 'set'>

### frozenset

값을 변경하지 않는 범위에서 set객체와 동일하게 동작한다.  
frozenset객체의 생성은 집합을 포함한 반복 가능한 자료형으로부터 가능하다.  
frozenset()으로 생성한다.

In [ ]:
f = frozenset();
print(f)
f_val = frozenset([1,2,3,4,5])
print(f_val)

frozenset()
frozenset({1, 2, 3, 4, 5})

### 사전(dict)

특정 키를 주면 이와 관련된 값을 돌려주는 내용 기반으로 검색하는 자료형  
데이터의 저장순서가 없다.  
내부적으로 해시 기법을 사용하기 때문에 검색 속도가 빠르다.  
key-value형식으로 저장을 하기 때문에 key를 이용해서 value에 접근한다.  
key값은 중복을 허용하지 않는다.

In [ ]:
# 사전(dict)생성은 {}나 dict()함수를 사용해서 생성할 수 있다.
d = {'one':1, 'two':2}
print(d)
print(type(d))

d = dict(one = 1, two = 2)
print(d)

{'one': 1, 'two': 2}
<class 'dict'>
{'one': 1, 'two': 2}

### Interning

- 파이썬은 느리기 때문에 중간에 cache에 저장하는 기법이 있다.
- -5 ~ 256은 파이썬엑서 같은 메모리 주소를 사용한다.(interning 기법)

1. 숫자(-5 ~ 256) : interning으로 지정할 수 없음

2. 문자(a-zA-Z0-9_) : interning으로 지정할 수 있음

In [ ]:
a = 100
b = 100

In [ ]:
# 동등 연산자는 저장된 값을 비교한다.
a == b

True

In [ ]:
# is는 메모리 주소를 비교한다.
a is b

True

In [ ]:
a = 257
b = 257

In [ ]:
a == b

True

In [ ]:
# 범위가 -5 ~ 256을 벗어나 메모리 주소가 다르게 할당되어 False가 출력된다.
a is b

True

In [ ]:
# python에서 문자열 일때는 a-zA-Z0-9_는 내부적으로 interning 기법을 사용한다.
a = 'python'
b = 'python'

In [ ]:
a == b

True

In [ ]:
a is b

True

In [ ]:
a = 'python3'
b = 'python3'

In [ ]:
a == b

True

In [ ]:
a is b

True

In [ ]:
a = '파이썬'
b = '파이썬'

In [ ]:
a == b

True

In [ ]:
# 한글은 다른 메모리를 할당해 주기 때문에 주소값이 다르게 나와 False로 출력된다.
a is b

False

In [ ]:
a = 'python version'
b = 'python version'

In [ ]:
a == b

True

In [ ]:
# 영문에 공백이 포함되어 있으면 다른 메모리에 할당이 된다.
a is b

False

In [ ]:
# 영문자일때 공백이 포함되어도 interning기법을 사용할 수 있도록 intern을 지원한다.
# 모듈 가져오기
from sys import intern

In [ ]:
c = intern('python programing')
d = intern('python programing')

In [ ]:
c == d

True

In [ ]:
c is d

True

In [ ]:
# intern은 문자열만 사용이 가능하다.
help(intern)

Help on built-in function intern in module sys:

intern(string, /)
    ``Intern'' the given string.

    This enters the string in the (global) table of interned strings whose
    purpose is to speed up dictionary lookups. Return the string itself or
    the previously interned string object with the same value.

In [ ]:
a = intern(256)
b = intenr(256)

TypeError: ignored